.btn_default{
    font-size: 16px;
    width: 15%;
    height: 40px;
    background-color: #113F59;
    color: white;
    border-radius: 5px;
    border: none;
    min-width: 180px;
    width: 180px;
    margin-top: 20px;
}

.btn_default:hover{
    cursor: pointer;
    background-color: hsl(202, 68%, 16%);
}