body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 90%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}        
.main{ 
    padding: 20px;
    border-radius: 4px;
    width: 35%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 500px;
}
.main .img{
    text-align: center;
    margin-bottom: 10px;
}
.box{
    padding: 30px 40px 20px;
    background-color: white;
    box-shadow: 2px 2px 5px #999999;
    border-radius: 4px;
    max-width: 500px;
}
.box label{
    text-align: left;
    font-size: 18px;
    color: #333333;
}
.box input {
    width: 100%;
    height: 38px;
    margin: 10px 0px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #999999;
    padding: 0px 10px;
}
.box input[type="password"] {
    padding: 0px 40px 0px 10px;
}
.box input:hover {
    outline: 1px solid #999999;
    background-color: #fafafa;
}
.box input:focus {
    outline: 1px solid #999999;
    background-color: #fafafa;
}


.box .options .submit{
    width: 34%;
    height: 40px;
    background-color: #113F59;
    color: white;
    border: none;
    font-size: 20px;
    transition: 200ms;
    cursor: pointer;
    border-radius: 4px;
}
.box .options .submit:hover{
    background-color: hsl(202, 68%, 16%);
    outline: none;
}
.box .options{
    margin-top: 10px;
    text-align: end;
}
.box .options a{
    font-size: 16px;
    color: black;
    margin-right: 10px; 
    text-decoration: underline;
}
.box .options a:hover{
    color: #333333;
}

.remember{
    align-items: center;
}
.remember input{
    width: 15px;
    height: 15px;
}

/*errors*/
ul{
    color: red;
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin: 4px 0px;
}
.error{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 60%, 45%);
    border: 1px solid hsl(0, 60%, 40%);
    padding: 8px 15px 8px 10px;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
    opacity: 0.96;
}
.error button{
    font-weight: 700;
    font-size: 22px;
    padding: 0;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .main{
        width: 50%;
    }
}
@media (max-width: 800px) {
    .main{
        width: 80%;
    }
    .box .options .submit{
        width: 50%;
    }
}
@media (max-width: 600px) {
    .box .options{
        display: block;
        text-align: center;
    }
    .box .options .submit
    {
        width: 100%;
    } 
}