.addmember-wrapper {
    max-height: 140px;
    overflow-y: auto;
    border-radius: 4px;
    background-color: var(--box-inner-color);
    position: absolute;
    width: 45%;
}
.addmember {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.addmember tr{
    background-color: var(--box-inner-color);
    border-bottom: 1px solid var(--box-input-border);
    transition: 200ms;
    height: 40px;
}
.addmember tr:hover{
    background-color: var(--box-inner-color-hover);
}
.addmember tr:last-child{
    border-bottom: 0px;
}
.addmember tr:hover {
    background-color: var(--box-inner-color-hover);
}

.addmember td {
    text-align: center; 
    vertical-align: middle;
    padding: 10px;
}

.addmember .pfp {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid var(--box-input-border);
}

.addmember button {
    all: unset;
    cursor: pointer;
    padding: 0;
}

.addmember button img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    filter: var(--filter-icon);
}

