[v-cloak] {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* grid-template-rows: repeat(11, 1fr); */
    gap: 14px;
    margin-bottom: 30px;
}
.container .item{
    background-color: var(--box-color);
    color: var(--text-color);
    padding: 25px 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, var(--box-shadow-color) 0px 0px 0px 1px inset;
    align-self: stretch;
}
.item:nth-child(1) {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
}
.item:nth-child(2) {
    grid-column: span 6 / span 6;
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}
.item:nth-child(3) {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}
.item:nth-child(4) {
    grid-column: span 6 / span 6;
    grid-row: span 4 / span 4;
    grid-row-start: 5;
}
.item:nth-child(5) {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 5;
}
.item.item:nth-child(6){
    grid-column: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 8;
}
.item.item:nth-child(7){
    grid-column: span 9 / span 9;
    grid-row: span 3 / span 3;
    grid-row-start: 9;
}

.container h2{
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.container p{
    font-size: 16px;
    margin-bottom: 16px;
}
.container .item:nth-child(1) span, .item:nth-child(3) span{
    font-weight: 600;
}
.btns{
    display: flex;
    gap: 10px;
}
.btns a{
    margin-top: 20px;
}
.btns button{
    width: 80%;
    min-width: 150px;
    margin-top: 0px;
}


/*Collabs in Project
/*
/**/
.members-wrapper {
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, var(--box-shadow-color) 0px 0px 0px 1px inset;
    scrollbar-width: thin;
}
.members{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.members tr{
    background-color: var(--box-inner-color);
    border-bottom: 1px solid var(--box-input-border);
    transition: 200ms;
    height: 40px;
}
.members tr:hover{
    background-color: var(--box-inner-color-hover);
}
.members tr:last-child{
    border-bottom: 0px;
}
.members td {
    padding: 10px;
    text-align: center;
}
.members td:first-child {
    padding: 10px 16px;
}
.members select{
    width: 125px !important;
    max-width: 125px !important;
    min-width: 125px !important;
    height: 28px;
    border-radius: 4px;
    border: 1px solid var(--box-input-border);
    font-size: 16px;
    background-color: var(--box-inner-color);
    color: var(--text-color);
}
.members img{
    width: 100%;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 100px;
}
.members button{
    width: 35px;
    height: 35px;
    object-fit: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.members button img{
    border-radius: 0;
}
/*
/*
/*Collabs in Project End*/


/*Kanban
/*
/**/
.kanban-board {
    display: flex;
    gap: 6px;
}
.column {
    flex: 1;
    max-height: 640px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}
.column .title{
    text-align: center;
    padding: 10px 5px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 4px 4px 0px 0px;
}
.column h2 {
    color: white;
    font-size: 20px;
    margin: 0;
}
.to-do .title {
    background-color: hsl(0, 0%, 40%);
}
.late .title {
    background-color: #cf142b;
}
.urgent .title {
    background-color: #FF5F15;
}
.done .title {
    background-color: #228B22;
}

.task-card {
    background-color: var(--box-inner-color);
    margin-bottom: 10px;
    border: 1px solid var(--box-input-border);
    transition: 800ms ease-in-out;
    border-radius: 4px;
}
.to-do .task-card:nth-child(2),
.late .task-card:nth-child(2),
.urgent .task-card:nth-child(2),
.done .task-card:nth-child(2)
{
    border-radius: 0px 0px 4px 4px;
}
.to-do .task-card:last-child,
.late .task-card:last-child,
.urgent .task-card:last-child,
.done .task-card:last-child
{
    margin-bottom: 50px;
}
.task-card h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.task-card .space{
    height: 1px;
    width: 100%;
    background-color: var(--box-input-border);
    margin: 10px 0px 10px;
}
.task-card p {
    margin: 0;
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 10px;
}
.task-card:hover .func{
    max-height: 40px;
    opacity: 1;
}
.task-card .func{
    display: flex;
    background-color: var(--box-inner-color);
    height: 30px;
    border-top: 1px solid var(--box-input-border);
    align-items: center;
    justify-content: end;
    padding: 0px 6px;
    gap: 2px;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 200ms ease, opacity 200ms ease;
}
.task-card .func a, .task-card .func button{
    all: unset;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}
.task-card .func a:hover, .task-card .func button:hover{
    background-color: var(--box-inner-color-hover);
}
.task-card .func img{
    width: 20px;
    height: 20px;
}
/**/
/*
/*Kanban End*/


/*Chart
/*
/**/
.chart-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 0px 10px 10px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}
/**/
/*
/*Chart End*/

/*Clock
/*
/**/
.clock{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.clock h4{
    margin: 5px 0px;
    font-size: 1.5rem;
    font-weight: 600;
}
/**/
/*
/*Clock End


/*Responsive
/*
/**/
@media (max-width: 1100px) {
    .members td:nth-child(3), 
    .addmember td:nth-child(3)
    {
        display: none;
    }
}
@media (max-width: 1450px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .container .item {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
    }
}