[v-cloak] {
    display: none;
  }


.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}
    
.item:nth-child(1) {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}
.item:nth-child(2) {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
}
.item:nth-child(3) {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}
.item:nth-child(4) {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 5;
}
.item:nth-child(5) {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 5;
}

.container .item{
    background-color: var(--box-color);
    color: var(--text-color);
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--box-shadow-color);
    align-self: stretch;
}
.container h2{
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.container p{
    font-size: 16px;
    margin-bottom: 20px;
}
.container .item:nth-child(1) span, .item:nth-child(3) span{
    font-weight: 600;
}
.btns{
    display: flex;
    gap: 10px;
}
.btns button{
    width: 80%;
    min-width: 150px;
}

.members-wrapper {
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 8px;
}
.members{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.members tr{
    background-color: var(--box-inner-color);
    border-bottom: 1px solid var(--box-input-border);
    transition: 200ms;
    height: 40px;
}
.members tr:hover{
    background-color: var(--box-inner-color-hover);
}
.members tr:last-child{
    border-bottom: 0px;
}
.members td {
    padding: 10px;
}
.members td:first-child {
    padding: 10px 16px;
}
.members select{
    height: 28px;
    border-radius: 4px;
    border: 1px solid var(--box-input-border);
    font-size: 16px;
    background-color: var(--box-inner-color);
    color: var(--text-color);
}
.members img{
    width: 100%;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 100px;
}
.members button{
    width: 35px;
    height: 35px;
    object-fit: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.members button img{
    border-radius: 0;
}

.chart-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 10px;
}

.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1100px) {
    .members td:nth-child(3), 
    .addmember td:nth-child(3)
    {
        display: none;
    }
}
@media (max-width: 1450px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container .item {
        grid-column: auto !important;
        grid-row: auto !important;
        width: calc(100% - 40px);
    }
}