.projects-wrapper{
    max-height: calc(100dvh - 342px);
    overflow-y: auto;
    scrollbar-width: thin;
}
.project{
    position: relative;
    background-color: var(--box-inner-color);
    border-radius: 4px;
    padding: 12px 20px;
    margin-bottom: 20px;
}
.project:hover{
    cursor: pointer;
    background-color: var(--box-inner-color-hover);
}
.project h4{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}
.overview{
    text-decoration: none;
    color: var(--text-color);
}
.project::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    border-radius: 4px 0 0 4px;
    background-color: var(--project-bar-color);
}