.addmember-wrapper{
    width: 60% !important;
}
.selectedUser-wrapper {
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 8px;
}
.selectedUser{
    width: 75%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
}
.selectedUser tr{
    background-color: var(--box-inner-color);
    transition: 200ms;
    height: 40px;
}
.selectedUser tr:hover{
    background-color: var(--box-inner-color-hover);
}
.selectedUser td {
    text-align: center; 
    vertical-align: middle;
    padding: 10px;
}
.selectedUser .pfp {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid var(--box-input-border);
}
.selectedUser button{
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .addmember-wrapper{
        width: 100% !important;
    }
}