.Info1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
}
.Info1 .item{
    width: calc(25% - 15px);
    background-color: var(--box-color);
    width: 100%;
    height: 120px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, var(--box-shadow-color) 0px 0px 0px 1px inset;
}
.Info1 .item h4{
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 10px;
}
.Info1 .item h2{
    font-size: 36px;
    margin: 0;
}
@media screen and (max-width: 1000px) {
    .Info1{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .Info1{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.project{

}
.project .details{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--box-input-border);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 10px;
}
.project .details h2{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}
.project .details div{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.project .details div select{
    width: 100%;
    min-width: auto;
    max-width: none;
    margin: 0;
}
@media screen and (max-width: 600px) {
    .project .details div{
        flex-direction: column;
        justify-content: center;
        align-items: top;
    }
    .project .details div select{
        width: 100% !important;
    }
}
.project .details button{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-inner-color);
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}
.project .details button:hover{
    background-color: var(--box-inner-color-hover);
}
.project .details img{
    width: 34px;
    height: 34px;
}