html:not(.dark_theme) body {
   transition: none !important;
}
/*#region Themes */
:root{
    --background-color: white;
    --text-color: black;

    /* box */
    --box-color: #f1f1f1;
    --box-inner-color: hsl(0, 0%, 98%);
    --box-inner-color-hover: hsl(0, 0%, 88%);
    
    --box-input-border: hsl(0, 0%, 80%);
    --box-input-bg-hover: hsl(0, 0%, 98%);
    --box-shadow-color: hsl(0, 0%, 70%);
    /*box end*/

    /*icon color change*/
    --filter-icon: invert(0) brightness(0);
    /*end icon color change*/

    /*delete red*/
    --delete-red: hsl(0, 100%, 40%);
    --delete-red-hover: hsl(0, 100%, 35%);
    /*end delete red*/
}

.dark_theme
{
    --background-color: #12181d;
    --text-color: white;

    /*box*/
    --box-color: #1C1F24;
    --box-inner-color: #2B2F36;
    --box-inner-color-hover: hsl(218, 11%, 23%);

    --box-input-border: hsl(0, 0%, 30%);
    --box-input-bg-hover: #2f333a;
    --box-shadow-color: hsl(0, 0%, 20%);
    /*box end*/

    /*icon color change*/
    --filter-icon: invert(1) brightness(2);
    /*end icon color change*/

    /*delete red*/
    --delete-red: hsl(0, 100%, 30%);
    --delete-red-hover: hsl(0, 100%, 25%);
    /*end delete red*/
}

/*#endregion Themes*/

.box{
    background-color: var(--box-color);
    color: var(--text-color);
    padding: 40px 30px;
    width: calc(100% - 60px);
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--box-shadow-color);
}
.box h2{
    font-size: 26px;
    margin: 0px 0px 20px;
}
.box label{
    font-size: 18px;
}
input[type='text'], 
input[type='email'], 
input[type='password'],
input[type='date'],
textarea
{
    margin: 5px 0px 10px;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid var(--box-input-border);
    font-size: 16px;
    background-color: var(--box-inner-color);
    color: var(--text-color);
}
.dark_theme input{
    color-scheme: dark;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--box-inner-color) inset !important;
    box-shadow: 0 0 0px 1000px var(--box-inner-color) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
}

input:hover, 
textarea:hover
{
    background-color: var(--box-input-bg-hover);
}
input:focus, 
textarea:focus
{ 
    outline: 1px solid var(--box-input-border);
    background-color: var(--box-input-bg-hover);
}

.pfp{
    object-fit:cover;
}


.btn_default, .btn_delete{
    font-size: 16px;
    width: 15%;
    height: 40px;
    color: white;
    border-radius: 5px;
    border: none;
    min-width: 180px;
    width: 180px;
    margin-top: 20px;
    cursor: pointer;
}
.btn_default{
    background-color: #113F59;
}
.btn_default:hover{
    background-color: hsl(202, 68%, 16%);
}

.btn_delete{
    background-color: var(--delete-red);
}
.btn_delete:hover{
    background-color: var(--delete-red-hover);
}

img.icon{
    filter: var(--filter-icon);
}


/* Scrollbar geral */
:root {
    --scrollbar-track: var(--box-inner-color);
    --scrollbar-thumb: hsl(0, 0%, 60%);
    --scrollbar-thumb-hover: hsl(0, 0%, 50%); 
}
.dark_theme {
    --scrollbar-track: var(--box-inner-color); 
    --scrollbar-thumb: hsl(0, 0%, 30%);
    --scrollbar-thumb-hover: hsl(0, 0%, 40%);
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 2px solid var(--scrollbar-track);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}
::-webkit-scrollbar-corner {
    background: var(--scrollbar-track);
}
/*Fim da Scrollbar geral */


@media (max-width: 1500px){
    input[type='text'], 
    input[type='email'], 
    input[type='password'],
    input[type='date'],
    input[type='file'],
    textarea
    {
        width: 75%;
        max-width: 75%;
        min-width: 75%;
    }
}

@media (max-width: 1200px){
    input[type='text'], 
    input[type='email'], 
    input[type='password'],
    input[type='date'],
    input[type='file'],
    textarea
    {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}