.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    height: calc(100dvh - 140px);
    width: 100%;
}
    
.item:nth-child(1) {
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* important */
}
.item:nth-child(2) {
    grid-column: span 5 / span 5;
    grid-column-start: 3;
}

h3{
    margin: 0;
}

.item{
    position: relative;
    background-color: var(--box-color);
    color: var(--text-color);
    padding: 20px 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, var(--box-shadow-color) 0px 0px 0px 1px inset;
}

.filters{
    margin-bottom: 5px;
}
.markRead{
    margin-top: 5px;
}
.filters button, .markRead button{
    display: flex;
    width: 100%;
    text-align: start;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding: 5px 8px;
    gap: 4px;
    background-color: var(--box-inner-color);
    border: 1px solid var(--box-input-border);
    border-radius: 4px;
    color: var(--text-color);
}
.filters button:hover, .markRead button:hover{
    background-color: var(--box-inner-color-hover);
}
.filters img, .markRead img{
    width: 20px;
    height: 20px;
}

.filtersbox{
    position: absolute;
    background-color: var(--box-inner-color);
    z-index: 20;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 10px;
}
.filtersbox form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filtersbox .top div:nth-child(1){
    padding: 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--box-input-border);
}
.filtersbox h2{
    margin: 0px 0px 0px 5px;
    font-size: 30px;
}
.filtersbox .close{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--clearF-bg);
}
.filtersbox .close:hover{
    background-color: var(--clearF-bg-hover);
}
.filtersbox .close img{
    width: 26px;
    height: 26px;
}

.filtersbox .top div:nth-child(2) select{
    min-width: 100%;
    max-width: 100%;
}
.filtersbox .bot div:nth-child(1){
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: 2px solid var(--box-input-border);
}
.filtersbox .bot div:nth-child(1) button{
    margin-top: 5px !important;
    width: 100%;
    height: 36px;
    font-weight: 500;
}

:root{
    --clearF-bg: hsl(0, 0%, 80%);
    --clearF-bg-hover: hsl(0, 0%, 76%);
}
.dark_theme{
    --clearF-bg: hsl(218, 12%, 10%);
    --clearF-bg-hover: hsl(218, 12%, 12%);
}
.filtersbox .clearF{
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--clearF-bg);
    color: var(--text-color);
}
.filtersbox .clearF:hover{
    background-color: var(--clearF-bg-hover);
}


.notiBox{
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    scrollbar-width: none;
    flex: 1;
}
.notiBox a{
    text-decoration: none;
}
.noti{
    position: relative;
    background-color: var(--box-inner-color);
    border-radius: 4px;
    min-height: 80px;
    padding: 14px;
    cursor: pointer;
    transition: 400ms;
    margin-bottom: 10px;
    color: var(--text-color);
}
.noti:hover, .notiDetails:hover{
    box-shadow: var(--box-shadow-color-2) 0px 2px 8px 0px;
}
.noti h3{
    margin: 0;
    font-weight: 600;
}
.noti p{
    margin: 5px 0px 0px;
}
.noti .point{
    position: absolute;
    background-color: #113F59;
    border-radius: 100px;
    width: 12px;
    height: 12px;
    right: 8px;
    top: 8px;
}
.notiBox form:last-child .noti{
    margin-bottom: 0px;
}

.actions{
    background-color: var(--box-inner-color);
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 15px;
    gap: 10px;
    justify-content: space-between;
}
.actions button{
    border-radius: 4px;
    background-color: var(--box-color);
    height: 36px;
    border: none;
    cursor: pointer;
    padding: 0;
}
.actions button:hover img{
    scale: 1.05;
}
.actions img{
    width: 36px;
    height: 36px;
    transition: 200ms;
}

.notiDetails{
    background-color: var(--box-inner-color);
    border-radius: 4px;
    padding: 14px;
    transition: 400ms;
}
.notiDetails h3{
    font-weight: 600;
    margin: 0;
}
.notiDetails .options{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.notiDetails button{
    margin: 0 !important;
}

.notiDetails .title{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--box-input-border);
    border-radius: 4px 4px 0px 0px;
    gap: 10px;
}
.notiDetails .title img{
    width: 125px;
    height: 125px;
    border-radius: 4px;
}
.notiDetails .title h3{
    font-size: 20px;
    margin: 0;
}
.notiDetails .content{
    padding: 20px 14px;
    border: 2px solid var(--box-input-border);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1150px) {
    .item:nth-child(1) {
        grid-column: span 3 / span 3;
    }
    .item:nth-child(2) {
        grid-column: span 4 / span 4;
        grid-column-start: 4;
    }
}

@media screen and (max-width: 1105px) {
    .notiDetails .options form, .notiDetails .options button{
        width: 100% !important;
    }
    .notiDetails .options{
        margin-top: 5px !important;
    }
}
@media screen and (max-width: 800px) {
    .container{
        display: block;
        height: auto;
    }
    .item:nth-child(1) {
        margin-bottom: 20px;
        display: block;
        height: 440px;
    }
    .notiBox{
        height: 34dvh;
    }
}