:root{
    --file-btn: hsl(0, 0%, 80%);
    --file-btn-hover: hsl(0, 0%, 75%)
}
.dark_theme
{
    --file-btn: hsl(0, 0%, 25%);
    --file-btn-hover: hsl(0, 0%, 28%);
}

h1{
    margin-bottom: 50px;
}

.top{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.left p{
    color: hsl(0, 0%, 30%);
}

input[type="file"] {
    height: 40px;
    width: 75%;
    margin-top: 10px;
    padding: 5px 0px 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--box-input-border);
    background-color: var(--box-inner-color);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: var(--file-btn);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 15px;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--file-btn-hover);
}


.lineSpace{
    width: 100%;
    height: 1px;
    margin: 30px 0px;
    background-color: var(--box-input-border);
}


/*ALL OF THIS FOR A CONFIRM*/

.modal{
    display: none;
    position: fixed; 
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 500ms;

    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 500ms;
    animation-name: fadeIn;
    animation-duration: 500ms;
}
.modal_content{
    position: absolute;
    background-color: var(--box-color);
    color: var(--text-color);
    width: 40%;
    padding: 50px 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-color-2) 0px 5px 15px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 500ms;
    animation-name: slideIn;
    animation-duration: 500ms;
}

.btn_delete{
    margin-top: 20px;
    margin-right: 20px;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #cc0000;
    color: white;
    cursor: pointer;
    font-size: 17px;
}
.btn_delete:hover{
    background-color: hsl(0, 100%, 30%);
}

.btn_cancel{
    margin-top: 20px;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 84%);
    cursor: pointer;
    font-size: 17px;
}
.btn_cancel:hover{
    background-color: hsl(0, 0%, 80%);
}


/*In animations*/
@-webkit-keyframes slideIn {
    from {top: 0; opacity: 0} 
    to {top: 50%; opacity: 1}
}
  
@keyframes slideIn {
    from {top: 0; opacity: 0}
    to {top: 50%; opacity: 1}
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
/*In animations END*/

/*ALL OF THIS FOR A CONFIRM END*/

/*Overview
/*
/**/
.project{
    position: relative;
    background-color: var(--box-inner-color);
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 20px;
    width: 50%;
}
.project:hover{
    cursor: pointer;
    background-color: var(--box-inner-color-hover);
}
.project h4{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}
.overview{
    text-decoration: none;
    color: var(--text-color);
}
.project::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25px;
    border-radius: 4px 0 0 4px;
    background-color: var(--project-bar-color);
}
@media screen and (max-width: 1100px) {
    .project{
        width: calc(100% - 40px);
    }
}
/**/
/*
/*Overview End*/