.project{
    /* hsl(0, 0%, 85%) */
    background-color: var(--inner-box-color);
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 20px;
}
.project:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 80%);
}
.project h4{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}