.box{
    background-color: #f1f1f1;
    padding: 40px 30px;
    width: 94%;
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px hsl(0, 0%, 70%);
}
.box label{
    font-size: 18px;
}
.box input{
    margin: 5px 0px 10px;
    width: 50%;
    height: 36px;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    font-size: 16px;
}
.box input:hover{
    background-color: hsl(0, 0%, 98%);
}
.box input:focus{
    outline: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 98%);
}

.btn{
    margin-top: 20px;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 84%);
    cursor: pointer;
    font-size: 17px;
}
.btn:hover{
    background-color: hsl(0, 0%, 80%);
}