.project{
    background-color: var(--box-inner-color);
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 20px;
}
.project:hover{
    cursor: pointer;
    background-color: var(--box-inner-color-hover);
}
.project h4{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}
.edit{
    text-decoration: none;
    color: var(--text-color);
}