body{
    margin: 0;
    padding: 0;
    
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hamburger{
    position: fixed;     
    top: 14px;
    left: 230px;
    padding: 10px 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    z-index: 2;
}
.hamburger:hover{
    background-color: hsl(202, 68%, 16%);
}
.hamburger img{
    position: absolute;
}
.hamburger #open{
    opacity: 0;
}


nav{
    position: fixed;
    display: block;
    background-color: #113F59;
    width: 300px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.links, .links_colapse{
    width: 100%;
    transition: 300ms;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x:hidden;
}

.links a, .links_colapse a {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 20px 0px;
    transition: 300ms;
    width: 100%;
    height: 52px;
    box-sizing: border-box;
}
.links a:hover, .links_colapse a:hover{
    background-color: hsl(202, 68%, 16%);
}
.links img, .links_colapse img {
    padding-left: 15px;
    height: 32px;
    width: 32px;
}
.links_colapse span{
    visibility: hidden;
}
.links a span, .links_colapse a span {
    margin-left: 30px;
}
.sep{
    display: block;
    color: white;
    text-align: left;
    padding: 0px 0px 5px 15px;
    font-size: 20px;
    font-weight: 600;
}
.sepC{
    margin: auto; 
    width: 46px;
    height: 1px;
    left: 9px;
    visibility: hidden;
    padding: 20px 0px;
    border-bottom: 1px solid white;
}


.icons{
    position: absolute;
    left: 314px;
}
.icons a{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.icons img{
    width: 60px;
    height: 60px;
}

nav p{
    display: flex;
    position: absolute;
    bottom: 2px;
    color: white;
    font-size: 12px;
}
nav a{
    color: white;
}
nav a:hover{
    color: hsl(0, 0%, 80%);
}

/*Scroll Bar*/
nav ::-webkit-scrollbar {
    width: 9px;
}

nav ::-webkit-scrollbar-track {
    background: #0D2D40;
    border-radius: 10px;
}

nav ::-webkit-scrollbar-thumb {
    background: #1F5C80;
    border-radius: 10px;
    transition: background 0.3s;
}

nav ::-webkit-scrollbar-thumb:hover {
    background: #2D87B5;
}

nav {
    scrollbar-width: thin;
    scrollbar-color: #1F5C80 #0D2D40;
}
/*Scroll Bar END*/

/*#region Profile in top*/
.top-menu{
    position: relative;
    background-color: hsl(0, 0%, 80%);
    height: 80px;
    margin: 0px 0px 0px 300px;
    transition: 500ms;
    z-index: 10;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
}
.goBack{
    margin-top: 4px;
    border-radius: 10px;
    transition: 200ms;
    width: 35px;
    height: 35px;
    padding: 4px;
    background-color: hsl(0, 0%, 70%);
}
.goBack:hover{
    background-color: hsl(0, 0%, 65%);
    cursor: pointer;
}
.top-menu .user{
    gap: 10px;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 20px;
    padding: 0px 10px;
    margin-top: 5px;
    transition: 200ms;
}
.top-menu .user:hover{
    background-color: hsl(0, 0%, 70%);
    cursor: pointer;
}
.top-menu .user:hover span img{
    transform: rotate(90deg);
}
#arrowP.rotated {
    transform: rotate(90deg);
}
.top-menu .user img{
    width: 55px;
    height: 55px;
    border-radius: 100px;
}
.top-menu .user p{
    margin: 0px;
}
.top-menu .user span img{
    transition: 300ms;
    height: 16px;
    width: 16px;
}
/*#region dropdown */
.profile-toggle{
    position: absolute;
    right: 40px;
    top: -90px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    transition: 400ms;
    z-index: 9;
}
.profile-toggle a{
    text-decoration: none;
    color: black;
}
.profile-toggle button{
    background-color: hsl(0, 0%, 90%);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.profile-toggle button:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 80%);
}
.profile-toggle .space{
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 55%);
}
.profile-toggle button img{
    transition: 200ms;
}
.profile-toggle button:hover img{
    display: block;
}
/*#endregion*/
/*#endregion*/

.main_content{
    padding: 50px 30px 0px 340px;
    transition: 500ms;
}

.main_title{
    font-size: 34px;
    color: black;
}