html.preload *, html.preload *::before, html.preload *::after {
  transition: none !important;
  animation: none !important;
  visibility: hidden;
}
html:not(.preload) * {
    visibility: visible;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hamburger{
    position: fixed;     
    top: 14px;
    left: 230px;
    padding: 10px 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    z-index: 100;
}
.hamburger:hover{
    background-color: hsl(202, 68%, 16%);
}
.hamburger img{
    position: absolute;
}
.hamburger #open{
    opacity: 0;
}


nav{
    position: fixed;
    display: block;
    background-color: #113F59;
    width: 300px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.links, .links_colapse{
    width: 100%;
    transition: 300ms;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x:hidden;
}

.links a, .links_colapse a {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 20px 0px;
    transition: 300ms;
    width: 100%;
    height: 52px;
    box-sizing: border-box;
}
.links a:hover, .links_colapse a:hover{
    background-color: hsl(202, 68%, 16%);
}
.links img, .links_colapse img {
    padding-left: 15px;
    height: 32px;
    width: 32px;
}
.links_colapse span{
    visibility: hidden;
}
.links a span, .links_colapse a span {
    margin-left: 30px;
}
.sep{
    display: block;
    color: white;
    text-align: left;
    padding: 0px 0px 5px 15px;
    font-size: 20px;
    font-weight: 600;
}
.sepC{
    margin: auto; 
    width: 46px;
    height: 1px;
    left: 9px;
    visibility: hidden;
    padding: 20px 0px;
    border-bottom: 1px solid white;
}
nav p{
    display: flex;
    position: absolute;
    bottom: 2px;
    color: white;
    font-size: 12px;
}
nav a{
    color: white;
}
nav a:hover{
    color: hsl(0, 0%, 80%);
}

/*Scroll Bar*/
nav ::-webkit-scrollbar {
    width: 9px;
}

nav ::-webkit-scrollbar-track {
    background: #0D2D40;
    border-radius: 10px;
}

nav ::-webkit-scrollbar-thumb {
    background: #1F5C80;
    border-radius: 10px;
    transition: background 0.3s;
}

nav ::-webkit-scrollbar-thumb:hover {
    background: #2D87B5;
}

nav {
    scrollbar-width: thin;
    scrollbar-color: #1F5C80 #0D2D40;
}
/*Scroll Bar END*/

:root{
    --top-bg-color: hsl(0, 0%, 80%);
    --top-gb-color-hover: hsl(0, 0%, 70%);

    --profile-menu: hsl(0, 0%, 90%);
    --profile-menu-hover: hsl(0, 0%, 80%);
}

.dark_theme
{
    --top-bg-color: #1C1F24;
    --top-gb-color-hover: hsl(218, 13%, 20%);

    --profile-menu: hsl(218, 13%, 15%);
    --profile-menu-hover: hsl(218, 13%, 20%);
}

/*#region Profile in top*/
.top-menu {
    position: fixed; 
    top: 0;           
    left: 0;
    right: 0;
    background-color: var(--top-bg-color);
    color: var(--text-color);
    height: 80px;
    margin: 0px 0px 0px 300px;
    z-index: 98;

}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
}
.goBack{
    margin-top: 4px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    padding: 4px;
    background-color: var(--top-bg-color);
}
.goBack:hover{
    transition: 200ms;
    background-color: var(--top-gb-color-hover);
    cursor: pointer;
}
.top-menu .user{
    gap: 10px;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 6px;
    padding: 0px 10px;
    margin-top: 5px;
    transition: 200ms;
}
.top-menu .user:hover{
    background-color: var(--top-gb-color-hover);
    cursor: pointer;
}
.top-menu .user:hover span img{
    transform: rotate(90deg);
}
#arrowP.rotated {
    transform: rotate(90deg);
}
.top-menu .user img{
    width: 55px;
    height: 55px;
    border-radius: 100px;
}
.top-menu .user p{
    margin: 0px;
}
.top-menu .user span img{
    transition: 300ms;
    height: 16px;
    width: 16px;
}
/* .top-menu .user span img{
    transition: 300ms;
    height: 30px;
    width: 30px;
} */
/*#region dropdown */
.profile-toggle{
    position: fixed;
    right: 40px;
    top: -90px;
    background-color: var(--profile-menu);
    border-radius: 6px;
    width: 200px;
    text-align: center;
    transition: 400ms;
    z-index: 9;
}
.profile-toggle a{
    text-decoration: none;
    color: black;
}
.profile-toggle button{
    background-color: var(--profile-menu);
    color: var(--text-color);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.profile-toggle button:hover{
    cursor: pointer;
    background-color: var(--profile-menu-hover);
}
.profile-toggle .space{
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 55%);
}
.profile-toggle button img{
    transition: 200ms;
}
/*#endregion*/
/*#endregion*/

.main_content{
    padding: 130px 30px 0px 30px;
}

.main_title{
    font-size: 34px;
    color: black;
}

@media (max-width: 900px){
    .top-menu h1{
        display: none;
    }
}

