html:not(.dark_theme) body {
   transition: none !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
img {
    box-sizing:initial;
}

/*#region Themes */
:root{
    --background-color: #ffffff;
    --text-color: #1a1a1a;

    /* box */
    --box-color: hsl(0, 0%, 92%);
    --box-inner-color: hsl(0, 0%, 100%);
    --box-inner-color-hover: hsla(0, 0%, 97%);
    
    --box-input-border: hsl(0, 0%, 82%);
    --box-input-bg-hover: hsl(0, 0%, 98%);
    --box-shadow-color: #d1d5db;
    --box-shadow-color-2: rgba(0, 0, 0, 0.1);
    /*box end*/

    /*icon color change*/
    --filter-icon: invert(0) brightness(0);
    /*end icon color change*/

    /*delete red*/
    --delete-red: hsl(0, 100%, 40%);
    --delete-red-hover: hsl(0, 100%, 35%);
    /*end delete red*/
}

.dark_theme
{
    --background-color: #12181d;
    --text-color: hsl(0, 0%, 90%);

    /*box*/
    --box-color: #1d2025;
    --box-inner-color: hsl(218, 11%, 17%);
    --box-inner-color-hover: hsl(218, 11%, 18%);

    --box-input-border: hsl(0, 0%, 30%);
    --box-input-bg-hover: #2f333a;
    --box-shadow-color: hsl(0, 0%, 20%);
    --box-shadow-color-2: rgba(0, 0, 0, 0.5);
    /*box end*/

    /*icon color change*/
    --filter-icon: invert(1) brightness(2);
    /*end icon color change*/

    /*delete red*/
    --delete-red: hsl(0, 100%, 30%);
    --delete-red-hover: hsl(0, 100%, 25%);
    /*end delete red*/
}
/*#endregion Themes*/

.SQL{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.username{
    position: relative;
    color: var(--text-color);
    text-decoration: none;
}
.username::before{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
}
.username:hover::before{
    width: 0%;
}


.box{
    background-color: var(--box-color);
    color: var(--text-color);
    padding: 40px 30px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, var(--box-shadow-color) 0px 0px 0px 1px inset;
}
.box h2{
    font-size: 26px;
    margin: 0px 0px 20px;
}
.box label{
    font-size: 18px;
}
.box:last-child{
    margin-bottom: 0px;
}
@media screen and (max-width: 540px){
    .box{
        padding: 20px 20px;
    }
}

.lineSpace{
    width: 100%;
    height: 1px;
    margin: 30px 0px;
    background-color: var(--box-input-border);
}

input[type='text'], 
input[type='email'], 
input[type='password'],
input[type='date'],
input[type='color'],
select,
textarea
{
    margin: 5px 0px 10px;
    width: 75%;
    max-width: 75%;
    min-width: 75%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--box-input-border);
    font-size: 16px;
    background-color: var(--box-inner-color);
    color: var(--text-color);
}
.dark_theme input{
    color-scheme: dark;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--box-inner-color) inset !important;
    box-shadow: 0 0 0px 1000px var(--box-inner-color) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
}

input:hover, 
select:hover,
textarea:hover
{
    background-color: var(--box-input-bg-hover);
}
input:focus, 
select:focus,
textarea:focus
{ 
    outline: 1px solid var(--box-input-border);
    background-color: var(--box-input-bg-hover);
}
.required{
    color: #cc0000;
    font-weight: 600;
}

.pfp{
    object-fit:cover;
}


.btn_default, .btn_delete{
    font-size: 16px;
    min-width: 180px;
    width: 180px;
    height: 40px;
    color: white;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.btn_default{
    background-color: #113F59;
}
.btn_default:hover{
    background-color: hsl(202, 68%, 16%);
}

.btn_delete{
    background-color: var(--delete-red);
}
.btn_delete:hover{
    background-color: var(--delete-red-hover);
}

img.icon{
    filter: var(--filter-icon);
}

@media (max-width: 1200px){
    input[type='text'], 
    input[type='email'], 
    input[type='password'],
    input[type='date'],
    input[type='file'],
    textarea,
    select
    {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

:root{
    --fc-event-border-color: var(--box-input-border);
    --fc-button-bg-color: #113F59;
    --fc-button-border-color: #113F59;

    --fc-button-hover-bg-color: hsl(202, 68%, 16%);
    --fc-button-hover-border-color: hsl(202, 68%, 16%);

    --fc-button-active-bg-color: hsl(202, 68%, 12%);
    --fc-button-active-border-color: hsl(202, 68%, 12%);
    --fc-neutral-bg-color: transparent;
    
    --fc-border-color: hsl(0, 0%, 75%);
    --fc-page-bg-color: var(--box-inner-color);
    --fc-list-event-hover-bg-color: transparent;
}
.dark_theme{
    --fc-border-color: hsl(0, 0%, 30%);
}
.calendarMore{
    cursor: pointer; 
    height: 100%; 
    vertical-align: middle;
    padding: 0px 2px 0px 4px;
}
.calendarMore img{
    width: 14px;
    height: 14px;
    scale: 1.25;
    transition: 100ms;
}
.calendarMore:hover img{
    scale: 1.1;
}
