html.preload *, html.preload *::before, html.preload *::after {
  transition: none !important;
  animation: none !important;
  visibility: hidden;
}
html:not(.preload) * {
    visibility: visible;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    scrollbar-color: hsl(0, 0%, 50%) var(--box-inner-color);
    
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hamburger{
    position: fixed;     
    top: 14px;
    left: 230px;
    padding: 8px 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    z-index: 100;
}
.hamburger:hover{
    background-color: hsl(202, 68%, 16%);
}
.hamburger img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.hamburger #open{
    opacity: 0;
}


nav{
    position: fixed;
    display: block;
    background-color: #113F59;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.links, .links_collapse{
    width: 100%;
    transition: 300ms;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.links a, .links_collapse a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 18px 0px;
    transition: 300ms;
    width: 100%;
    height: 52px;
    box-sizing: border-box;
}
.links a:hover, .links_collapse a:hover{
    background-color: hsl(202, 68%, 16%);
}
.links img, .links_collapse img {
    padding-left: 17px;
    height: 30px;
    width: 30px;
}
.links a span, .links_collapse a span {
    margin-left: 16px;
    text-wrap-mode: nowrap;
}
.links_collapse span{
    visibility: hidden;
}
.links_collapse .inboxNumber{
    visibility: visible;
}

.sep{
    display: block;
    color: white;
    text-align: left;
    padding: 0px 0px 5px 15px;
    font-size: 18px;
    font-weight: 600;
}
.sepC{
    margin: auto; 
    width: 46px;
    height: 1px;
    left: 9px;
    visibility: hidden;
    padding: 20px 0px;
    border-bottom: 1px solid white;
}

nav .inboxNumber{
    position: absolute;
    background-color: #59abe6;
    color: white;
    border-radius: 100px;
    font-size: 10px;
    font-weight: 600;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 24px;
}
nav p{
    display: flex;
    position: absolute;
    bottom: 2px;
    color: white;
    font-size: 12px;
}
nav a{
    color: white;
}
nav a:hover{
    color: hsl(0, 0%, 80%);
}

/*Scroll Bar*/
nav ::-webkit-scrollbar {
    width: 9px;
}

nav ::-webkit-scrollbar-track {
    background: #0D2D40;
    border-radius: 10px;
}

nav ::-webkit-scrollbar-thumb {
    background: #1F5C80;
    border-radius: 10px;
    transition: background 0.3s;
}

nav ::-webkit-scrollbar-thumb:hover {
    background: #2D87B5;
}

nav {
    scrollbar-width: thin;
    scrollbar-color: #1F5C80 #0D2D40;
}
/*Scroll Bar END*/
/*menu end*/

/*#region Mobile Menu*/
/*
/**/
.menuMobile{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    background-color: #113F59;
    z-index: 100;
    padding: 0px 10px;
    border-radius: 50% 50% 10% 10% / 12% 12% 0% 0%;
}
.menuMobile a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 12px;
    width: 60px;
    height: 60px;
    border-radius: 4px;
}
.menuMobile img{
    width: 50%;
    height: 50%;
}
.menuMobileMore{
    display: none;
    position: fixed;
    right: 16px;
    background-color: #113F59;
    width: 180px;
    text-align: center;
    transition: 400ms;
    z-index: 98;
    border-radius: 4px;
}
.menuMobileMore a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 6px 10px;
    gap: 10px;
}
.menuMobileMore img{
    width: 30px;
    height: 30px;
}
.menuMobileMore .space{
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 1px 0px;
}
@media screen and (max-width: 600px) {
    .menuMobile{
        display: flex;
    }
    .menuMobileMore{
        display: block;
    }
}
@media screen and (max-width: 420px) {
    .menuMobile a{
        font-size: 10px;
        width: 60px;
    }
    .menuMobile img{
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-width: 300px) {
    .menuMobile img{
        width: 30px;
        height: 30px;
    }
}
/**/
/*
/*End Mobile Menu*/

/*#region Profile in top*/
:root{
    --top-bg-color: hsl(0, 0%, 80%);
    --top-gb-color-hover: hsl(0, 0%, 70%);

    --profile-menu: hsl(0, 0%, 90%);
    --profile-menu-hover: hsl(0, 0%, 80%);
}

.dark_theme
{
    --top-bg-color: #1c1f24;
    --top-gb-color-hover: hsl(218, 13%, 19%);

    --profile-menu: hsl(218, 13%, 15%);
    --profile-menu-hover: hsl(218, 13%, 20%);
}


.top-menu {
    position: fixed; 
    top: 0;           
    left: 0;
    right: 0;
    background-color: var(--top-bg-color);
    color: var(--text-color);
    height: 80px;
    margin: 0px 0px 0px 300px;
    z-index: 98;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 0px 40px;
}
.goBack{
    margin-top: 0px;
    border-radius: 10px;
    width: 42px;
    height: 42px;
    padding: 4px;
    background-color: var(--top-bg-color);
}
.goBack:hover{
    transition: 200ms;
    background-color: var(--top-gb-color-hover);
    cursor: pointer;
}
.top-menu .user{
    gap: 10px;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 6px;
    padding: 0px 10px;
    margin-top: 5px;
    transition: 200ms;
    max-width: 300px;
}
.top-menu .user:hover{
    background-color: var(--top-gb-color-hover);
    cursor: pointer;
}
.top-menu .user:hover span img{
    transform: rotate(90deg);
}
#arrowP.rotated {
    transform: rotate(90deg);
}
.top-menu .user img{
    width: 55px;
    height: 55px;
    border-radius: 100px;
}
.top-menu .user p{
    margin: 0px;
    max-width: 180px;
}
.top-menu .user span img{
    transition: 300ms;
    height: 16px;
    width: 16px;
}
/*#region dropdown */
.profile-toggle{
    position: fixed;
    right: 40px;
    background-color: var(--profile-menu);
    border-radius: 6px;
    width: 200px;
    text-align: center;
    transition: 400ms;
    z-index: 97;
}
.profile-toggle a{
    text-decoration: none;
    color: black;
}
.profile-toggle button{
    background-color: var(--profile-menu);
    color: var(--text-color);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.profile-toggle a:hover button,
.profile-toggle form:hover button{
    background-color: var(--profile-menu-hover);
}
.profile-toggle .space{
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 55%);
    margin: 1px 0px;
}
@media screen and (max-width: 400px) {
    .top-menu .user p{
        display: none;
    }
}
/*#endregion*/

.main_content{
    padding: 120px 30px 0px 30px;
}

.main_title{
    font-size: 34px;
    color: black;
}

@media (max-width: 900px){
    .top-menu h1{
        display: none;
    }
}
