.container{
    display: flex;
    gap: 20px;
}
.box:nth-child(1){
    width: 60%;
}
.box:nth-child(2){
    width: 40%;
}
input[type='text'],
input[type='date'],
select,
textarea
{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}
.box .space{
    width: 100%;
    height: 1px;
    background-color: var(--box-input-border);
    margin: 20px 0px;
}
