.addmember-wrapper{
    width: 75% !important;
}
.selectedUser-wrapper{
    width: 75% !important;
}

@media (max-width: 1200px){
    .addmember-wrapper{
        width: 100% !important;
    }
    .selectedUser-wrapper{
        width: 100% !important;
    }
}